.Highlight {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    gap: 1rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__left {
        width: 70%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__image-card {
        margin-bottom: 10px;
        position: relative;

        img {
            width: 100%;
            max-height: 300px;
            /* Ajuste conforme necessário */
            object-fit: cover;
        }
    }

    &__thumbnail-cards {
        display: flex;
        gap: 10px;

        img {
            width: 50px;
            /* Ajuste conforme necessário */
            height: 50px;
            /* Ajuste conforme necessário */
            object-fit: cover;
            cursor: pointer;
        }
    }

    &__thumbnail-card {
        border: 2px solid #ddd;
        border-radius: 5px;
        overflow: hidden;

        &.selected {
            border-color: #0e0f58;
            /* Cor quando selecionado */
        }
    }

    &__right {
        width: 30%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__newsletter-card {
        border: 2px solid #ddd;
        border-radius: 5px;
        padding: 1.5rem;
        margin-bottom: 10px;
        background-color: rgb(235, 235, 235);

        p {
            margin-bottom: 10px;
            color: #000;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 8px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #0e0f58;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    &__ads {
        /* Adicione estilos conforme necessário para a seção de ads */
    }

    &__image-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
}