/* Adicione estas regras ao seu CSS */

.News {
    display: flex;
    justify-content: space-between;
    margin: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__latest {
        width: 70%;
    }

    &__breaking {
        width: 30%;
        padding: 0 2rem;

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__latest-title {
    }
    
    &__latest-title,
    &__breaking-title {
        font-size: 1.5rem;
        margin: 2rem 0;
        font-weight: bold;
    }

    &__latest-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__latest-card {
        display: flex;
        background-color: rgb(245, 245, 245);
        padding: 1rem;
        border-radius: 1rem;

        &-left {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-right {
            text-align: end;
            width: 30%;

            img {
                width: 150px;
                height: auto;
            }
        }

        &-title {
            font-size: 18px;
            font-weight: bold;
        }
        
        &-date {
            color: #555;
            margin-top: 5px;
            font-size: .8rem;
        }
        
        &-description {
            flex-grow: 1;
            padding: 1rem 0;
        }

        &-button {
            display: block;
            margin-top: 10px;
            text-decoration: none;
            color: #0e0f58;
            font-weight: bold;
            font-size: .9rem;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__breaking-links {
        display: flex;
        flex-direction: column; 
        gap: 10px;
        line-height: 1.5rem;
    }

    &__breaking-link {
        text-decoration: none;
        color: #0e0f58;
    }
}